<a href="https://colab.research.google.com/github/ucybucy/Coursera_Capstone/blob/master/web_scrapping_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# let's import the library
import pandas as pd

In [13]:
# scanning the wikipedia webpage, looking for any table content and then converting it into pandas format: 
result = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
print(result)

[    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns],                                                   0   ...   17
0                                                NaN  ...  NaN
1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  ...  NaN
2                                                 NL  ...   YT
3                                                  A  ...    Y

[4 rows x 18 columns],    0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15     16  17
0  NL  NS  PE  NB  QC  QC  QC  ON  ON  ON  ON  ON  MB  SK  AB  BC  NU/NT  YT
1   A   B   C   E   G   H   J   K   L   M   N   P   R   S   T   V      X   Y]

In [14]:
# as we can see, Pandas found two tables. One with 180 rows x 3 columns and another one with 4 rows x 18 columns. 
# Since we are interested only in the first table, let's print just this one :
print(result[0])

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [15]:
# let's convert it into a Pandas Dataframe:
df = pd.DataFrame(result[0])
df

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [16]:
# let's change the names of the first and third column so that we get the exact same names as the authors of the assignment:
df = df.rename(columns={'Postal Code': 'PostalCode', 'Neighbourhood': 'Neighborhood'})
df

    PostalCode  ...                                       Neighborhood
0          M1A  ...                                       Not assigned
1          M2A  ...                                       Not assigned
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
..         ...  ...                                                ...
175        M5Z  ...                                       Not assigned
176        M6Z  ...                                       Not assigned
177        M7Z  ...                                       Not assigned
178        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179        M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [17]:
# ignoring = getting rid of the 'Not assigned' rows in the 'Borough' column
df = df[df.Borough != 'Not assigned']
df

    PostalCode  ...                                       Neighborhood
2          M3A  ...                                          Parkwoods
3          M4A  ...                                   Victoria Village
4          M5A  ...                          Regent Park, Harbourfront
5          M6A  ...                   Lawrence Manor, Lawrence Heights
6          M7A  ...        Queen's Park, Ontario Provincial Government
..         ...  ...                                                ...
160        M8X  ...      The Kingsway, Montgomery Road, Old Mill North
165        M4Y  ...                               Church and Wellesley
168        M7Y  ...  Business reply mail Processing Centre, South C...
169        M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
178        M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

In [18]:
# let's verify if a column 'Neighborhood' has some 'Not assigned' rows in it

df.loc[df['Neighborhood'] == 'Not assigned', ['PostalCode', 'Borough', 'Neighborhood']]

# Looks like it doesn't have any since we didn't get any rows

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [19]:
# let's check if PostalCode is unique for every row = there are no duplicates

duplicates = df[df['PostalCode'].duplicated()]
duplicates

# Looks like it is unique indeed since we didn't get any rows

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [20]:
# let's check how many rows are left after the cleaning
df.shape

(103, 3)